.box#about
  .box_title= link_to('Über Mich', {:controller=>'interest', :action=>'curriculum'}, {:title=>'Über Mich'})
  .box_content
    .thumbnails
      = link_to({:controller=>'interest', :action=>'curriculum'}, {:class=>'thumb'}) do
        %img{:src=>"http://www.gravatar.com/avatar/056c32203f8017f075ac060069823b66.png", :alt=>"Peter Schröder", :title=>"Peter Schröder"}
      %p
        Ich bin
        = age
        Jahre alt, lebe in
        = link_to 'Ottawa', 'https://www.google.com/maps/place/Ottawa,+ON/@45.2501566,-75.8002568,10z/data=!3m1!4b1!4m2!3m1!1s0x4cce05b25f5113af:0x8a6a51e131dd15ed', :title=>'Ottawa, Ontario Kanada'
        Kanada und
        = link_to("arbeite", :controller=>'interest', :action=>'employer')
        als
        = link_to("Señor Developer", "http://señordeveloper.com", :title => "Señor Developer")
        bei
        = link_to("Shopify", "http://shopify.com", title: 'Shopify')
