.post
  .post_body
    = render :partial => "shared/quote", :locals => { :author =>'Jedi', :text => 'Möge die Macht mit dir sein' }

  .post_body
    %p
      Um ein klein wenig an die Open-Source-Gemeinschaft zurückzugeben,
      versuche ich in meiner Freizeit ein paar
      %a{:href=>"http://blog.nofail.de", :title=>"#nofail - it's all about the sugar"} sinnvolle technische Artikel zu schreiben
      und veröffentliche
      %a{:href=>"http://github.com/phoet", :title=>"GitHub Projekte von Peter Schröder"} meinen Quelltext auf GitHub,
      um mein bescheidenes Wissen unters Volk zu bringen.
      Auch diese Webseite und das dazugehörige
      %a{:href=>"http://github.com/phoet/basement", :title=>"GitHub Projekte von Peter Schröder"} Rails Projekt
      sind dort zu finden.

#github
  .post
    .comment_list
      .comment.alt
        .comment_gravatar.left
          %a{:href=>"http://github.com/phoet/", :title=>"GitHub Projekte"}
            %img{:title=>"GitHub Projekte", :alt=>"GitHub Projekte", :src=>"/assets/github.gif", :width=>"50"}
        .comment_author.left
          %h3
            %a{:href=>"http://github.com/phoet/", :title=>"GitHub Projekte", :name=>"projects"} GitHub Projekte
          .post_date
            ="Derzeit #{@repos.count} öffentliche Projekte"
        .clearer &nbsp;

  .accordion
    - @repos.each do |repo|
      %h3
        %a{:href => "#", :title=>repo.name}
          =repo.name
          %span.smaller.gitimages.forks
            =repo.forks
          %span.smaller.gitimages.watchers
            =repo.watchers
      %div
        %strong
          %a{:href=>repo.url, :title=>repo.description}=repo.description

        %ul
          - if commit = @commit_hash[repo.name]
            %li
              %a{:href=>"http://github.com#{commit.url}", :title=>commit.message}= commit.message.truncate(65)
              %span.smaller
                %a{:href => "http://github.com/#{commit.author.name}", :title => commit.author.name}=commit.author.name
                =l(commit.committed_date)

  .post
    .comment_list
      .comment.alt
        .comment_gravatar.left
          %a{:href=>"http://gist.github.com/phoet/", :title=>"GitHub Gists"}
            %img{:title=>"GitHub Gists", :alt=>"GitHub Gists", :src=>"/assets/github.gif", :width=>"50"}
        .comment_author.left
          %h3
            %a{:href=>"http://github.com/phoet/", :title=>"GitHub Projekte", :name=>"gists"} GitHub Gists
          .post_date
            ="Derzeit #{@gists.count} öffentliche Code-Schnipsel"
        .clearer &nbsp;

  .accordion
    - @gists.each do |gist|
      %h3
        %a{:href => "#", :title=>gist.description}=gist.description
      %div
        - if @gist_files_hash[gist.id]
          - @gist_files_hash[gist.id].each_with_index do |file, k|
            %strong
              %a{:href=>"http://gist.github.com/#{gist.id}"}=gist.files[k]
            %div
              %pre.code=CodeRay.scan(file, file_extension(gist.files[k])).div.html_safe
