.post
	.post_body
		= render :partial => "shared/quote", :locals => { :author =>'Jedi', :text => 'Möge die Macht mit dir sein' }
	
	.post_body
		%p
			Um ein klein wenig an die Open-Source-Gemeinschaft zurückzugeben,
			versuche ich in meiner Freizeit ein paar 
			%a{:href=>"http://blog.nofail.de", :title=>"#nofail - it's all about the sugar"}sinnvolle technische Artikel zu schreiben
			und veröffentliche 
			%a{:href=>"http://github.com/phoet", :title=>"GitHub Projekte von Peter Schröder"}meinen Quelltext auf GitHub,
			um mein bescheidenes Wissen unters Volk zu bringen.
			
#github
	- @more_array.each_with_index do |repo, i|
		.comment_gravatar.left
			%a{:href=>repo.url, :title=>repo.name}
				%img{:title=>"Rails Usergroup", :alt=>"Rails Usergroup", :src=>"/images/github.gif", :width=>"50"}
		.archive_post_title
			%h3
				%a{:href=>repo.url, :title=>repo.name}=repo.name
			.post_date
				%a{:href=>repo.homepage, :title=>repo.description}=repo.description
				(
				%a{:href=>"#{repo.url}/watchers", :title=>"watchers"}="#{repo.watchers} ✰"
				%a{:href=>"#{repo.url}/network", :title=>"forks"}="#{repo.forks} ✪"
				%a{:href=>"#{repo.url}/issues", :title=>"issues"}="#{repo.open_issues} ❂"
				)
		.clearer &nbsp;
			
		%ul
			-@commit_array[i][0..5].each do |commit|
				%li
					%a{:href=>commit.url, :title=>commit.message}= trim_to(commit.message, 65)
					%span.smaller
						(
						%a{:href => "http://github.com/#{commit.author.name}", :title => commit.author.name}=commit.author.name
						=l(commit.committed_date)
						)

= render :partial => 'shared/more', :locals => {:name => 'Projekte'}