.post
  .post_body
    = render :partial => "shared/quote", :locals => { :author =>'Jedi', :text => 'Möge die Macht mit dir sein' }

  .post_body
    %p
      Um ein klein wenig an die Open-Source-Gemeinschaft zurückzugeben,
      versuche ich in meiner Freizeit ein paar
      %a{:href=>"http://blog.nofail.de", :title=>"#nofail - it's all about the sugar"} sinnvolle technische Artikel zu schreiben
      und veröffentliche
      %a{:href=>"http://github.com/phoet", :title=>"GitHub Projekte von Peter Schröder"} meinen Quelltext auf GitHub,
      um mein bescheidenes Wissen unters Volk zu bringen.
      Auch diese Webseite und das dazugehörige
      %a{:href=>"http://github.com/phoet/basement", :title=>"GitHub Projekte von Peter Schröder"} Rails Projekt
      sind dort zu finden.

#github
  - if @repos.present?
    .post
      .comment_list
        .comment.alt
          .comment_gravatar.left
            %a{:href=>"http://github.com/phoet/", :title=>"GitHub Projekte"}
              %img{:title=>"GitHub Projekte", :alt=>"GitHub Projekte", :src=>"/assets/github.gif", :width=>"50"}
          .comment_author.left
            %h3
              %a{:href=>"http://github.com/phoet/", :title=>"GitHub Projekte", :name=>"projects"} GitHub Projekte
            .post_date
              ="Meine #{@repos.count} beliebtesten Projekte"
          .clearer &nbsp;

    %ul
      - @repos.each do |repo|
        %li
          %div
            = link_to repo.name, repo.html_url, :title => repo.description
            %span.gitimages.forks= repo.forks
            %span.gitimages.watchers= repo.watchers
          = emojify(repo.description)

  - if @gists.present?
    .post
      .comment_list
        .comment.alt
          .comment_gravatar.left
            %a{:href=>"http://gist.github.com/phoet/", :title=>"GitHub Gists"}
              %img{:title=>"GitHub Gists", :alt=>"GitHub Gists", :src=>"/assets/github.gif", :width=>"50"}
          .comment_author.left
            %h3
              %a{:href=>"http://github.com/phoet/", :title=>"GitHub Projekte", :name=>"gists"} GitHub Gists
            .post_date
              ="Meine #{@gists.count} aktuellsten Code-Schnipsel"
          .clearer &nbsp;

    %ul
      - @gists.each do |gist|
        %li= link_to gist.description, gist.html_url
