.post
  .post_body
    =render :partial => "shared/quote", :locals => { :author =>'Volksmund', :text => 'Wer rastet, der rostet!' }

    %p
      Getreu dieses Mottos habe ich schon frühzeitig viele Jobwechsel vollzogen und durfte dabei unterschiedlichste Arbeitgeber kennenlernen.
    %p
      Im Februar 2011 habe ich den Schritt in die Selbständigkeit gewagt und bin seither als freiberuflicher Software-Entwickler tätig.
    %p
      An dieser Stelle möchte ich ein paar beispielhafte Stationen des bisher beschrittenen Weg aufzeigen:
    %ul
      %li
        %a{:href => "#xing"} 2016 - XING AG
      %li
        %a{:href => "#jimdo"} 2015 - Jimdo GmbH
      %li
        %a{:href => "#shopify"} 2014 - Shopify Inc.
      %li
        %a{:href => "#wlw"} 2012 - Wer liefert was? GmbH
      %li
        %a{:href => "#qype"} 2011 - Qype GmbH
      %li
        %a{:href => "#fromatob"} 2010 - Verkehrsmittelvergleich.de GmbH
      %li
        %a{:href => "#blau"} 2008 - blau Mobilfunk GmbH
      %li
        %a{:href => "#freenet"} 2007 - freenet AG
      %li
        %a{:href => "#bigpoint"} 2006 - Bigpoint GmbH

/ xing
.post
  .post_title
    %h2
      = link_to "Entwickler bei XING", "http://www.xing.com/", :id => "xing", :title => "XING AG"

  .post_date Seit Dezember 2016
  .post_body
    = link_to "http://www.xing.com/", :title => "XING AG" do
      = image_tag "xing.png", :class => "alignleft", :alt => "XING AG", :title => "XING AG"
    .clearer &nbsp;
    %p
      Endlich mal wieder Ruby on Rails machen, ja das kann man bei XING!
    .clearer &nbsp;
    .post_meta
      Links:
      = link_to "XING", "http://www.xing.com/", :title => "XING AG"

/ jimdo
.post
  .post_title
    %h2
      = link_to "Entwickler / Head of Backend Engineering bei Jimdo", "http://www.jimdo.com/", :id => "jimdo", :title => "Jimdo GmbH"

  .post_date Februar 2015 bis Oktober 2016
  .post_body
    = link_to "http://www.jimdo.com/", :title => "Jimdo GmbH" do
      = image_tag "jimdo.png", :class => "alignleft", :alt => "Jimdo GmbH", :title => "Jimdo GmbH"
    .clearer &nbsp;
    %p
      In 2015 habe ich als
      = link_to 'Hyperpolyglot', "http://hyperpolyglot.org/"
      bei Jimdo gearbeitet und dort bei der Migration der monolitischen Plattform in eine Service orientierte Infrastruktur unterstützt.
    %p
      In 2016 habe ich mich weitestgehend aus der Programmierung zurückgezogen und versucht Jimdo
      in meiner Rolle als "Head of Backend Engineering" weiter zu professionalisieren.
    .clearer &nbsp;

    .post_meta
      Links:
      = link_to "Jimdo", "http://www.jimdo.com/", :title => "Jimdo GmbH"

/ shopify
.post
  .post_title
    %h2
      = link_to "Dev und Ops bei Shopify", "http://www.shopify.com/", :id => "shopify", :title => "Shopify Inc."

  .post_date Januar 2014 bis Februar 2015
  .post_body
    = link_to "http://www.shopify.com/", :title => "Shopify Inc." do
      = image_tag "shopify.jpg", :class => "alignleft", :alt => "Shopify Inc.", :title => "Shopify Inc."
    .clearer &nbsp;
    %p
      Für ein halbes jahr habe ich als Ruby-Entwickler in Ottawa Kanada bei Shopify gelebt und gearbeitet.
    %p
      Anschliessend bin ich wieder nach Hamburg zurückgekehrt und habe hier vor Ort remote mit dem Operations Team an der Shopify Platform gearbeitet.

    .clearer &nbsp;

    .post_meta
      Links:
      = link_to "Shopify", "http://www.shopify.com/", :title => "Shopify Inc."

/ wlw
.post
  .post_title
    %h2
      = link_to "Ruby Entwickler bei Wer liefert was?", "http://www.wlw.de/", :id => "wlw", :title => "Wer liefert was? GmbH"

  .post_date September 2011 bis Mai 2013
  .post_body
    = link_to "http://www.wlw.de/", :title => "Wer liefert was? GmbH" do
      = image_tag "wlw.png", :class => "alignleft", :alt => "Wer liefert was? GmbH", :title => "Wer liefert was? GmbH"
    .clearer &nbsp;
    %p
      In dieser Zeit habe ich für den IT-Dienstleister
      = link_to 'AKRA', 'http://akra.de', :title => 'AKRA GmbH'
      beim Betreiber der Lieferanten-Suchmaschine
      = link_to "'Wer liefert was?'", "http://www.wlw.de/", :title => "Wer liefert was? GmbH"
      in Hamburg gearbeitet.
    %p
      In einem kleinen, interdisziplinären Team arbeiten dort
      Festangestellte und Freelancer an der Ablösung der
      monolithischen Java Plattform, die durch eine moderne,
      gut getestete Rails Anwendung abgelöst werden soll.
    %p
      Besonders Interessant ist die Arbeit mit aktuellen
      Technologien wie
      = link_to "CouchDB", "http://couchdb.org"
      und
      = link_to "Elasticsearch", "http://www.elasticsearch.org/"
      sowie die agile Vorgehensweise mit einer pragmatischen
      Mischung aus
      = link_to "Kanban", "http://de.wikipedia.org/wiki/Kanban"
      und
      = link_to "SCRUM.", "http://de.wikipedia.org/wiki/Scrum"

    .clearer &nbsp;

    .post_meta
      Links:
      = link_to "Wer liefert was?", "http://www.wlw.de/", :title => "Wer liefert was? GmbH"
      |
      = link_to "Meine Lieferanten", "http://www.wlw.de/meine_lieferanten", :title => "Meine Lieferanten"

/ qype
.post
  .post_title
    %h2
      %a{:id => "qype", :href => "http://www.qype.com/", :title => "Qype GmbH"} Ruby Entwickler bei der Qype GmbH

  .post_date Februar bis Mai 2011
  .post_body
    %a{:href => "http://www.qype.com/", :title => "Qype GmbH"}
      = image_tag "qype.png", :class => "alignleft", :alt => "Qype GmbH", :title => "Qype GmbH"
    .clearer &nbsp;
    %p
      Seit Februar arbeite ich zusammen mit dem HSV-Team bei
      %a{:href => "http://www.qype.com/", :title => "Qype GmbH"} Qype
      an der, in verschiedenen Sprachen zur Verfügung stehenden, Bewertungs-Plattform.
    %p
      Bei Qype wird in drei agilen Teams mit SCRUM an unterschiedlichen Projekten gearbeitet.
      Die Teams teilen sich dabei hauptsächlich in die Bereiche Website, Backoffice, API und Android Entwicklung auf.
      Im Rahmen dieses gestandenen Software-Produktes kann ich neue Kenntnisse im Umgang mit
      großen Rails-Applikationen sammeln.
      Themen wie Skalierung, Performance, Refactoring und Continous Deployment sind für mich dabei von besonderem Interesse.
    %p
      Mein Aufgabengebiet umfasst derzeit die Weiterentwicklung der Qype-Website.
      Neben der Umsetzung kleinerer Features auf der Website kümmere ich mich auch um die Optimierung
      der bestehenden Plattform. Verbesserung der Test-Geschwindigkeit, Aktualisierung der Rails Version,
      Einführung aktuellen Tools wie
      =link_to 'Bundler', 'http://gembundler.com/'
      und die Evaluierung neuer Test-Best-Practices stehen dabei auf der Agenda.

    .clearer &nbsp;

    .post_meta
      Links:
      %a{:href => "http://www.qype.com/", :title => "Qype GmbH"} Qype GmbH
      |
      %a{:href => "http://www.qype.com/developers/api", :title => "Qype API"} Qype API
      |
      %a{:href => "http://blog.qype.com/", :title => "Qype Blog"} Qype Blog

/ fromatob
.post
  .post_title
    %h2
      %a{:id => "fromatob", :href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de GmbH"} Ruby Entwickler bei Verkehrsmittelvergleich.de

  .post_date Oktober-November 2010
  .post_body
    %a{:href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de GmbH"}
      = image_tag "fromatob.png", :class => "alignleft", :alt => "Verkehrsmittelvergleich.de GmbH", :title => "Verkehrsmittelvergleich.de GmbH"
    .clearer &nbsp;
    %p
      Im Oktober bin ich nach einer turbulenten Job-Suche als Ruby Entwickler bei
      %a{:href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de GmbH"} Verkehrsmittelvergleich.de
      an den Start gegangen.
    %p
      Verkehrsmittelvergleich.de ist ein relativ junges Start-Up, das durch Risikokapital finanziert wird.
      Derzeit wird mit Hochdruck an der neuen Platform
      %a{:href => "http://www.fromatob.com", :title => "fromAtoB"} fromAtoB
      gebaut, an dessen Entwicklung ich zusammen mit dem CTO von VMV
      %a{:href => "https://www.xing.com/profile/Daniel_Nolte", :title => "Daniel Nolte"} Daniel Nolte
      sowie Tobias Adams,
      %a{:href => "https://www.xing.com/profile/Sven_Steinheisser", :title=>"Sven Steinheißer"} Sven Steinheißer
      und
      %a{:href => "https://www.xing.com/profile/Jan_Krutisch", :title => "Jan Krutisch"} Jan Krutisch
      von
      %a{:href => "http://mindmatters.de/", :title => "mindmatters GmbH"} mindmatters
      sitze.

    .clearer &nbsp;

    .post_meta
      Links:
      %a{:href => "http://www.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de"} Verkehrsmittelvergleich.de
      |
      %a{:href => "http://www.fromatob.de", :title => "fromAtoB"} fromAtoB
      |
      %a{:href => "http://blog.verkehrsmittelvergleich.de/", :title => "Verkehrsmittelvergleich.de Blog"} Verkehrsmittelvergleich.de Blog

/ blau
.post
  .post_title
    %h2
      %a{:id => "blau", :href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"} Software-Entwickler bei blau

  .post_date 2007 bis 2010
  .post_body
    %a{:href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"}
      = image_tag "blau.png", :class => "alignleft", :alt => "blau Mobilfunk GmbH", :title => "blau Mobilfunk GmbH"
    .clearer &nbsp;
    %p
      3 Jahre habe ich als Softwareentwickler im Bereich
      %a{:href => "http://de.wikipedia.org/wiki/Java_Platform,_Enterprise_Edition", :title => "J2EE"} J2EE
      bei
      %a{:href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"} blau
      gearbeitet.
      Die blau-IT besteht aus einem Team von über 20 Mann (und einer Frau!) aus den
      Bereichen Java-Entwicklung, Web-Entwicklung (Rails), Operations und IT-Management.
    %p
      Die Software-Entwicklung kann sich in weiten Teilen selbst organisieren und benutzt den agilen
      %a{:href => "http://en.wikipedia.org/wiki/Scrum_(development)", :title => "SCRUM"} SCRUM-Prozess
      für die Abwicklung der Projektaufgaben.
      Die Umsetzung von agilen Methoden und pragmatischen Ansätzen wird im Team besprochen und tagtäglich praktiziert.
      Testdriven Development, Continous Integration, Refactoring und Pairprogramming stehen dabei hoch im Kurs.
    %p
      %a{:href => "http://jruby.org/", :title => "JRuby"}JRuby
      ="/"
      %a{:href => "http://www.ruby-lang.org", :title => "The Ruby Language"} Ruby
      wird verstärkt als Programmiersprache eingesetzt, da diese besonders gut mit
      den Paradigmen der agilen Software-Entwicklung harmoniert.
      Bisher werden die mit Ruby erstellten Werkzeuge hauptsächlich für die Automatisierung von
      Aufgaben wie Release, Deployment und Spidering eingesetzt.
      %br
      Als Build-Werkzeug wird deshalb
      %a{:href => "http://buildr.apache.org", :title => "Buildr"} Buildr
      als Ersatz für ANT genutzt, wobei eine selbst entwickelte
      %a{:href => "http://github.com/klaas1979/ivy4r/", :title => "ivy4r"} ivy4r Bibliothek
      verwendet wird, um die Abhängigkeitsverwaltung
      %a{:href => "http://ant.apache.org/ivy/", :title => "Ivy"} Apache-Ivy
      einbinden zu können.
      %br
      Auch einige (J)Ruby on Rails Anwendungen für den Inhouse-Einsatz sind bereits im produktiven Einsatz,
      %a{:href => "http://www.simvoice.de", :title => "simvoice"} die erste "Live" Anwendung
      ist auch bereits am Start.

    .clearer &nbsp;

    .post_meta
      Links:
      %a{:href => "http://www.blaumobilfunk.de", :title => "blau Mobilfunk GmbH"} blau Mobilfunk GmbH
      |
      %a{:href => "http://www.blau.de", :title => "blau.de - Sei schlau, telefonier blau."} blau.de
      |
      %a{:href => "http://www.blauworld.de", :title => "blauworld - the call home SIM"} blauworld
      |
      %a{:href => "http://www.plus-kom.de", :title => "plus-kom - DER SUPERGÜNSTIGE HANDYTARIF VON PLUS"} PLUSKOM
      |
      %a{:href => "http://www.nettokom.de", :title => "NettoKOM - Günstig mobil telefonieren"} NettoKOM
      |
      %a{:href => "http://www.simvoice.de", :title => "simvoice"} SIMVOICE

/ freenet
.post
  .post_title
    %h2
      %a{:id => "freenet", :href => "http://www.freenet.ag", :title => "freenet AG"} Java-Entwickler bei Freenet

  .post_date August 2006 bis August 2007
  .post_body
    %a{:href => "http://www.freenet.ag", :title => "freenet AG"}
      = image_tag "freenet.png", :class => "alignleft", :alt => "freenet AG", :title => "freenet AG"
    .clearer &nbsp;
    %p
      Vor meiner Zeit bei blau habe ich meine ersten professionellen Erfahrungen als
      Java-Entwickler im J2EE-Bereich bei
      %a{:href => "http://www.freenet.ag", :title => "freenet AG"} Freenet
      sammeln können.
      Im Point-of-Sale-Team habe ich in der Hamburger Zentrale
      diverse Bestellprozesse betreut und Webservice-Schnittstellen entwickelt.
      Unter anderem habe ich dort einen neuen
      %a{:href => "https://pos.klarmobil.de/klarmobil/app?tid=10306", :title => "klarmobil.de"} Bestellprozess für Klarmobil.de
      erstellt und supported.

    .clearer &nbsp;

    .post_meta
      Links:
      %a{:href => "http://www.freenet.ag", :title => "Freenet AG"} Freenet AG
      |
      %a{:href => "http://www.freenet.de", :title => "Freenet.de"} Freenet.de
      |
      %a{:href => "http://www.klarmobil.de", :title => "klarmobil.de - Einfach, Ehrlich, Günstig"} klarmobil.de

/ bigpoint
.post
  .post_title
    %h2
      %a{:id => "bigpoint", :href => "http://www.bigpiont.de", :title => "Bigpoint"} Spiele-Entwickler bei Bigpoint

  .post_date Januar bis Mai 2006
  .post_body
    %a{:href => "http://www.bigpiont.de", :title => "Bigpoint"}
      = image_tag "bigpoint.png", :class => "alignleft", :alt => "Bigpoint GmbH", :title => "Bigpoint GmbH"
    .clearer &nbsp;
    %p
      Anfang 2006 habe ich direkt nach dem Studium als Entwickler für Browsergames bei der
      %a{:href => "http://www.bigpiont.de", :title => "Bigpoint"} Bigpoint GmbH
      =" - "
      damals noch E-Sport GmbH - angeheuert. Dort konnte ich meine ersten Erfahrungen mit Frameworks,
      Entwicklungsumgebungen und Versionskontrollen sammeln.
    %p
      %a{:href => "http://www.the-mafia.de", :title => "The Mafia"}
        = image_tag "the-mafia.png", :class => "alignleft", :alt => "The Mafia", :title => "The Mafia"
        In wenigen Monaten habe ich dort eine neue Version des sehr
        %a{:href => "http://www.mafia1930.de", :title => "Mafia-1930"} beliebten Browsergames Mafia-1930
        entwickelt.
        Das grafisch stark überarbeitete neue
        %a{:href => "http://www.the-mafia.de", :title => "The Mafia"} The Mafia
        musste hohen Geschwindigkeits-Ansprüchen genügen, da dort in Stoßzeiten
        mehrere tausend Spieler gleichzeitig online waren.
        Besonders viel Verkehr gab es jedoch,
        wenn mal wieder ein Werbetrailer auf
        %a{:href => "http://www.sevengames.de/onlinegames/", :title => "Sevengames"} Pro7
        lief.


    .clearer &nbsp;

    .post_meta
      Links:
      %a{:href => "http://www.bigpiont.de", :title => "Bigpoint"} Bigpoint GmbH
      |
      %a{:href => "http://www.the-mafia.de", :title => "The Mafia"} The Mafia
      |
      %a{:href => "http://www.mafia1930.de", :title => "Mafia-1930"} Mafia-1930
      |
      %a{:href => "http://www.sevengames.de/onlinegames/", :title => "Sevengames"} Sevengames
