.post
  .post_body
    = render :partial => "shared/quote", :locals => { :author =>'Peter Schröder', :text => 'Ich bin nicht neugierig, ich will nur alles wissen!' }

    %h3 So bin ich zu erreichen:

    %dl
      %dt Anschrift
      %dd Schanzenstr. 85, 20357 Hamburg

      %dt Steuernummer
      %dd DE274980453

      %dt Telefon
      %dd
        Privat und Beruflich:
        %strong +49 178 1391035

      %dt E-Mail
      %dd
        %strong
          = mail_to "ps@nofail.de"

      %dt Social-Media
      %dd= link_to "Twitter", "http://twitter.com/phoet", :title => "Twitter"
      %dd= link_to "GitHub", "http://github.com/phoet", :title => "GitHub"
      %dd= link_to "XING", "https://www.xing.com/profile/peter_schroeder2", :title => "XING"
      %dd= link_to "workingwithrails", "http://workingwithrails.com/person/17645-peter-schr-der", :title => "workingwithrails"
