!!! XML
!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv'=>"content-type", :content=>"text/html; charset=UTF-8"}
    %meta{'http-equiv'=>"content-language", :content=>"de"}
    %meta{'http-equiv'=>"language", :content=>"de"}
    %meta{:name=>"language", :content=>"deutsch, de"}
    %meta{:name=>"description", :content=>"#{names},#{keywords}"}
    %meta{:name=>"keywords", :content=>"#{names},#{keywords}"}
    %meta{:name=>"author", :content=>names}
    %link{:href=>"/stylesheets/style.css", :media=>"screen, print", :rel=>"stylesheet", :type=>"text/css"}
    
    %style
      @page { size: A4 }
      @page { margin: 0px }
      @page { border: none }
      @page { padding: 0px }
      @page { prince-shrink-to-fit: auto }
      
    
    %title="Peter Schröder - Phoet - #{keywords}"

  %body#top
    #layout_wrapper_outer
      #layout_wrapper
        #layout_top
          #site_title
            %h1
              %a{:href=>"/", :title=>"Peter Schröder"}
                Peter 
                %span Schröder
            %h2= keywords
        
        #layout_body_outer
          #layout_body
            #navigation
            
            #main
              #content_outer
                #content= yield
                
            #dashboard
              #dashboard_inner
    
        #footer
          .left
            &copy; 
            =Time.new.year
            %a{:href=>"http://#{website_url}", :title=>"phoet"}=website_url
            &reg;
            %a{:href=>"http://www.peter-schröder.info", :title=>"peter schröder"} www.peter-schröder.info
            see some code on 
            %a{:href=>"http://github.com/phoet/basement/", :title=>"github phoet"} github
            or recommend me on
            %a{:href => "http://www.workingwithrails.com/recommendation/new/person/17645-peter-schr-der"} Working With Rails
          .right
            %a{:href=>"http://templates.arcsin.se/", :title=>'Arcsin-Templates'} Website template
            by
            %a{:href=>"http://arcsin.se/",:title=>'Arcsin'} Arcsin
